<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">{{.heading}}</h2>
    <p class="mb3 mw6">{{.description}}</p>

    <div class="flex-ns mhn2-ns mb3">
      <div class="ph2-ns w-50-ns">
        <div style="width: 100%; font-weight: bold; color: #f40; text-align: center; margin-bottom: 10px; border: 2px solid #FF4400;">Plan para Particulares</div>
        <p>{{.text1}}</p>
      </div>

      <div class="ph2-ns w-50-ns">
        <div style="width: 100%; font-weight: bold; color: #f40; text-align: center; margin-bottom: 10px; border: 2px solid #FF4400;">Plan para Profesionales</div>
        <p>{{.text2}}</p>
      </div>
    </div>

    {{ if .buttonText }}
      <div class="tc">
        <a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
      </div>
    {{ end }}
  </div>
</div>
