<footer class="bg-black ph3 pv3 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f5 b lh-title mb1 primary">Autos Dominicanos</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Inicio</a></li>
					<li><a href="/cars" class="link">Vehículos</a></li>
					<li><a href="/contact" class="link">Contacto</a></li>
				</ul>
			</div>
			<!--
			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Schedule and appointment</a></li>
				</ul>
			</div>
		-->
			<div>
				<h3 class="f5 b lh-title mb2 primary">¡Síguenos!</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.1.4/dist/instantsearch.min.js"></script>

{{if .IsHome }}
	<script src="/search.js"></script>
{{ else if eq .URL "/vehicule/" }}
	<script src="/searchvehicule.js"></script>
{{ else }}
	<script src="/app.js"></script>
{{ end }}

</body>

</html>
