<div class="pv2 pv2-l ph3 bg-center cover" style="background-image: url('{{.imageUrl}}')">
  <div>
    <div class="db">
      <div class="quick-search-filters">
        <div id="quick-search-condition" class="quick-search-box"></div>
        <div id="quick-search-makes" class="quick-search-box"></div>
        <div id="quick-search-models" class="quick-search-box"></div>
        <!-- <div style="float: left; padding-left: 10px;">
          <button type="submit" class="btn w-100 w-auto-ns raise" onclick="window.location.replace('/cars/' + window.location.search);">Buscar</button>
        </div> -->
      </div>
      <div id="current-refined-values" class="search-items"></div>
      <div id="hits" class="quick-search-hits"></div>
      <p style="clear:both;"></p>
    </div>
  </div>
</div>
