{{ partial "head" . }}
{{ partial "nav" . }}

<div class="content-wrapper">
  <aside id="side-menu">
    <section class="facet-wrapper">
      <div id="year-refinement" class="facet"></div>
      <div id="price-refinement" class="facet"></div>
    </section>
    <section class="facet-wrapper">
      <div id="manufacturer-refinement" class="facet"></div>
      <div id="model-refinement" class="facet"></div>
    </section>
    <section class="facet-wrapper">
      <div id="condition-refinement" class="facet"></div>
      <div id="fuel-refinement" class="facet"></div>
    </section>
  </aside>

  <div id="results" class="results-wrapper">

    <input type="text" id="search-input" placeholder="Busca marca, modelo o lugar">


    <section id="results-topbar">
      <div class="sort-by">
        <span>Orden</span>
        <div id="sort-by-selector"></div>
      </div>
      <div id="stats" class="text-muted"></div>
    </section>

    <main id="hits"></main>
    <section id="pagination"></section>
  </div>

  <p style="clear:both;"></p>

</div>

{{ partial "footer" . }}
