/* GENERAL */

.content-wrapper {
  margin: 0 -15px;
  /* min-width: 620px;*/
}

.left-column {
  float: left;
  width: 23%;
  padding-left: 10px;
}
.right-column {
  width: 73%;
  margin-left: 26%;
}

.clear:after {
  content: '';
  display: table;
  clear: both;
}

/* INPUT */
header {
  position: relative;
  height: 60px;
  margin-top: 20px;
  /*margin-left: 10px;*/
  text-align:center;
}
header img {
  position: absolute;
  top: 9px;
  left: 0;
  float: left;
  max-width: 23%;
}


.ais-range-slider--header {
  font-size: 16px;
  font-weight: bold;
}

.ais-range-slider--body {
  padding-bottom: 0px;
}

.ais-refinement-list--label {
  font-size: 14px;
}

.ais-refinement-list--header {
  font-weight: bold;
    font-size: 16px;
}

.ais-refinement-list--body {
  padding-bottom: 10px;
}

/* -------------- SEARCH INPUT ---------------------------------------------- */

.input-group #search-input {
  width: 98%;
  padding-right: 10px;
  margin-bottom: 10px;
}

/* -------------- ASIDE ---------------------------------------------- */
.results-wrapper {
  width: 72%;
  padding-top: 10px;
  margin-left: 26%;
/*padding: 20px 30px 20px 260px;*/ }

aside {
  float: left;
  width: 18%;
  padding-left: 25px;
  padding-top: 10px;

  /*position: absolute;
  overflow-y: auto;
  padding: 10px 20px 10px 30px;
  top: 80px;
  left: 0;
  bottom: 0;
  width: 180px;
  padding: 20px;
  border-right: 1px solid #EEE;
  background: #FFFFFF;
  */
}
  aside .facet-category-title {
    font-size: 1.2em;
    color: #888;
    margin: 0 0 8px; }
  aside .facet-wrapper {
    padding-bottom: 8px;
    border-bottom: solid 1px #EEE;
    margin-bottom: 8px;
    font-size: .87em; }
  aside .facet {
    margin-bottom: 5px; }
  aside .facet-title {
    font-weight: bold;
    margin: 4px 0; }
  aside .facet-item, aside a {
    color: #000000; }
    aside .facet-item:hover, aside a:hover {
      color: #B32500;
      text-decoration: none; }
    aside .facet-item.active, aside a.active {
      font-weight: bold; }
    aside .facet-item input, aside a input {
      margin-right: 4px; }
  aside .facet-name {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block; }
  aside .facet-count {
    margin-left: 4px;
    color: #888; }
  aside #colors:after {
    content: "";
    display: table;
    clear: both; }
  aside .facet-color {
    width: 28px;
    height: 28px;
    border-radius: 3px;
    margin: 0 6px 6px;
    display: block;
    overflow: hidden;
    float: left; }
    aside .facet-color.checked {
      box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.5); }
    aside .facet-color[data-facet-value="White"] {
      background-color: #FFFFFF;
      box-shadow: inset 0 0 0 1px #CCC; }
      aside .facet-color[data-facet-value="White"].checked {
        box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1); }
    aside .facet-color[data-facet-value="Black"] {
      background-color: #000000; }
    aside .facet-color[data-facet-value="Black-brown"] {
      background-color: #382919; }
    aside .facet-color[data-facet-value="Pink"] {
      background-color: #C0116D; }
    aside .facet-color[data-facet-value="Gray"] {
      background-color: #6F6E6C; }
    aside .facet-color[data-facet-value="Blue"] {
      background-color: #5182A1; }
    aside .facet-color[data-facet-value="Green"] {
      background-color: #1E9C5E; }
    aside .facet-color[data-facet-value="Brown"] {
      background-color: #7B6A63; }
    aside .facet-color[data-facet-value="Red"] {
      background-color: #BC1C1A; }
    aside .facet-color[data-facet-value="Dark gray"] {
      background-color: #444348; }
    aside .facet-color[data-facet-value="Silver color"] {
      background-color: #AAAAA8; }
    aside .facet-color[data-facet-value="Light brown"] {
      background-color: #C19A6E; }
    aside .facet-color[data-facet-value="Black-brown stain"] {
      background-color: #4B4640; }
    aside .facet-color[data-facet-value="Off-white"] {
      background-color: #D0C8B4; }
    aside .facet-color[data-facet-value="Beige"] {
      background-color: #C9B8A3; }
    aside .facet-color[data-facet-value="Light green"] {
      background-color: #ABBD9B; }
    aside .facet-color[data-facet-value="White stain"] {
      background-color: #E4E1DC; }
    aside .facet-color[data-facet-value="Turquoise"] {
      background-color: #46BCC9; }
    aside .facet-color[data-facet-value="Birch effect"] {
      background-color: #CBBFA4; }
    aside .facet-color[data-facet-value="Yellow"] {
      background-color: #F5E500; }
    aside .facet-color[data-facet-value="Dark blue"] {
      background-color: #374063; }
    aside .facet-color[data-facet-value="Galvanized"] {
      background-color: #726F6A; }
    aside .facet-color[data-facet-value="Birch"] {
      background-color: #726F6A; }
    aside .facet-color[data-facet-value="Dark brown"] {
      background-color: #74523E; }
    aside .facet-color[data-facet-value="High gloss gray"] {
      background-color: #E5E5E5; }
    aside .facet-color[data-facet-value="Gray/white"] {
      background-color: #E5E5E5; }
    aside .facet-color[data-facet-value="Red/white"] {
      background-color: #FA757B; }
    aside .facet-color[data-facet-value="Clear"] {
      background-color: #D5DAE0; }
    aside .facet-color[data-facet-value="Matte black"] {
      background-color: #616872; }
    aside .facet-color[data-facet-value="Matte white"] {
      background-color: #DCDBD7; }
    aside .facet-color[data-facet-value="White stained oak effect"] {
      background-color: #E7E8E0; }
  aside .ais-price-ranges--form {
    margin-top: 8px; }
  aside .ais-price-ranges--currency {
    display: inline-block;
    margin-right: 4px; }
  aside .ais-price-ranges--input {
    display: inline-block;
    width: 50px;
    border-radius: 2px;
    border: solid 1px #888;
    font-weight: normal; }
  aside .ais-price-ranges--button {
    display: block;
    float: right;
    width: 22px;
    height: 22px;
    padding: 0;
    margin-left: 4px;
    font-size: 10px;
    line-height: 20px;
    border: solid 1px #888;
    border-radius: 50%;
    text-align: center;
    background-color: #EEE; }
    aside .ais-price-ranges--button:hover {
      color: #0063C3;
      background-color: #FFFFFF; }
    aside .ais-price-ranges--button:focus {
      outline: none;
      box-shadow: inset 0 0 0 1px #FFBE61; }


/* ------------- RESULTS --------------------------------------------- */

#results-topbar {
  display: block;
  padding-top: 10px;
  width: 100%;
  line-height: 22px; }
  #results-topbar:after {
    content: "";
    display: table;
    clear: both; }
  #results-topbar .sort-by {
    font-size: .7em;
    font-weight: bold;
    color: #ff4400;
    float: right; }
  #results-topbar #sort-by-selector {
    display: inline-block; }

#clear-all {
  display: block;
  margin-bottom: 16px; }
  #clear-all .btn {
    font-size: 13px; }

#stats {
  padding-right: 10px;
  font-size: .8em; }

/* ------------- HITS --------------------------------------------- */
#hits {
  margin: 0 -.5%; }
  #hits:after {
    content: "";
    display: table;
    clear: both; }

.hit {
  width: 24%;
  float: left;
  padding: 10px 20px 1px;
  margin-bottom: 10px;
  border-bottom: solid 1px #EEE;
  margin: .5%;
  border: solid 1px #EEE;
  box-shadow: 0 0 3px #f6f6f6;
  position: relative; }

  @media (max-width: 960px) {
    .hit {
      width: 49%; } }

  .hit .product-picture-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    margin-bottom: 10px; }

  .hit .product-picture {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto; }

    .hit .product-picture img {
      -webkit-transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
      transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
      height: 150px;
      max-width: 100%; }
      @media (min-width: 1400px) {
        .hit .product-picture img {
          height: inherit; } }

  .hit .product-desc-wrapper {
    height: 100px;
    width: 100%;
    overflow: hidden; }

  .hit .product-name {
    font-weight: bold;
    color: #000000;
    font-size: .6em;
    margin: 0 0 8px;
    min-width: 120px; }

  .hit .product-type {
    font-size: .6em;
    margin: 0 0 10px;
    color: #a2a2a2; }

  .hit .product-rating {
    font-size: 0.6em;
    margin-bottom: 10px; }

  .hit .product-price {
    font-size: 0.6em;
    font-weight: bold;
    color: #ffffff;

    background: #ff4400;
    padding: 4px;
    border-radius: 3px;

    float: right;
    letter-spacing: -1px; }

  .hit em {
    color: #000000;
    font-style: normal;
    background-color: #FFBE61; }

/* ------------------------------ PAGINATION ----------------------------- */
#pagination {
  margin-top: 40px;
  margin-bottom: 50px;
}
#pagination ul {
  font-size: 0;
  list-style-type: none;
  text-align: center;
}
#pagination li {
  font-size: 14px;
  display: inline;
}
#pagination a {
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
  border: 1px solid #eee;
}
#pagination a:hover {
  background: #f5f5f5;
}
#pagination li:first-child a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#pagination li:last-child a {
  border-right: 1px solid #eee;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#pagination li.ais-pagination--item__active a {
  color: white;
  border-color: #ff4400;
  background: #ff4400;
}
#pagination li.ais-pagination--item__active a:hover {
  cursor: default;
}
#pagination li.ais-pagination--item__disabled a {
  cursor: not-allowed;
}
#pagination li.ais-pagination--item__disabled a:hover {
  background: none;
}

/* SORT BY */
#sort-by-wrapper {
  font-weight: 300;
  position: relative;
  float: right;
  color: #999;
}

#sort-by select {
  font-size: 16px;
  padding-right: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#sort-by:after {
  content: "";
  display: inline-block;
  position: absolute;

  top: 8px;
  right: 0;

  width: 0;
  height: 0;

  margin-left: 2px;
  vertical-align: middle;

  color: #000;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;

  pointer-events: none;
}

/* STATS */
#stats {

}

#stats .ais-stats--body {
  font-size: 0.9em;
  color: #999;
}

/* FACETS */
.facet {
  margin-bottom: 24px;
  font-size: 14px;
  color: #000;
}
.facet h5 {
  margin: 0 0 6px;
  padding: 0 0 6px;
  text-transform: uppercase;
  border-bottom: 2px solid #eee;
}
.facet ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.facet li {
  margin-bottom: 3px;
}

.facet a:visited,
.facet a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Collapsable FACETS */
.ais-root__collapsible .ais-header h5:hover {
  border-color: #c5c5c5;
  transition : border 500ms ease-out;
}

.ais-root__collapsible.ais-root__collapsed .ais-header h5:hover {
  border-color: #333;
}

.ais-root__collapsible .ais-header h5:before {
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  content: "\f106";
  float: right;
}

.ais-root__collapsible.ais-root__collapsed .ais-header h5:before {
  content: "\f107";
}

.ais-refinement-list--label,
.ais-hierarchical-menu--list .facet-item,
.ais-menu--link,
.ais-price-ranges--item {
  cursor: pointer;
  line-height: 1.5em;
}
.ais-hierarchical-menu--list .ais-hierarchical-menu--item {
  margin: 3px 0;
}
.ais-hierarchical-menu--link:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f105";
  padding: 0 5px 0 0;
}

.sffv_no-results{
  font-size: 13px;
  line-height: 1.2;
  padding-top: 6px;
}

.ais-refinement-list--label:hover,
.ais-refinement-list--item__active .ais-refinement-list--label,
.ais-menu--link:hover,
.ais-menu--item__active .ais-menu--link,
.ais-hierarchical-menu--list .facet-item.active:hover,
.ais-hierarchical-menu--list .facet-item.active {
  color: #ff4400;
}
.ais-refinement-list--item__active .ais-refinement-list--label:hover,
.ais-menu--item__active .ais-menu--link:hover,
.ais-hierarchical-menu--list .facet-item.active:hover {
  text-decoration: line-through;
  color: #ff4400;
}
.ais-refinement-list--count,
.ais-hierarchical-menu--count,
.ais-menu--count,
.ais-star-rating--count,
.ais-toggle--count {
  position: relative;
  top: 3px;
  float: right;
  color: #999;
}

#type.facet .ais-refinement-list--checkbox {
  display: none;
}

/* NO RESULTS */
.no-results #pagination, .no-results #sort-by, .no-results #stats, .no-results #facets {
  display: none;
}
#no-results-message {
  text-align: center;
}
#no-results-message p {
  font-size: 28px;
  font-weight: 100;
}
#no-results-message ul {
  list-style-type: none;
}
#no-results-message li {
  font-size: 12px;
  position: relative;
  display: inline-block;
  margin: 4px 2px;
  padding: 4px 28px 4px 8px;
  color: #999;
  border: 1px solid #ddd;
  border-radius: 12px;
}
#no-results-message li span.value {
  font-weight: bold;
  color: #000;
}
#no-results-message li a.remove img {
  position: absolute;
  top: 3px;
  right: 5px;
  float: right;
  width: 17px;
  height: 17px;
  opacity: .5;
}
#no-results-message li a.remove:hover img {
  opacity: 1;
}
a.clear-all {
  font-size: 12px;
  line-height: 1;
  display: inline-block;
  margin: 10px;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
  border: 2px solid #ddd;
  border-radius: 4px;
}
a.clear-all:hover {
  transition: border-color .3s ease-in;
  border-color: #999;
}

/* SLIDER */
.ais-range-slider--target {
  margin: 40px 30px 50px 0;
  font-size: 13px;
}

.ais-range-slider--base {
    background: #F3F4F7;
}

.ais-range-slider--connect {
    background: #ff4400;
}
.ais-range-slider--background {
  border-color: #F3F4F7;
}

.ais-range-slider--handle {
  border-color: #ff4400;
}

.ais-body.ais-range-slider--body {
  left: 10px;
  position: relative;
}

/* Star Rating */
.ais-star-rating--star,
.ais-star-rating--star__empty {
  display: inline-block;
  width: 1em;
  height: 1em
}

.ais-star-rating--item__active {

}

.ais-star-rating--star:before {
  content: '\2605';
  color: #FBAE00
}

.ais-star-rating--star__empty:before {
  content: '\2606';
  color: #FBAE00
}

.ais-star-rating--link__disabled .ais-star-rating--star:before,.ais-star-rating--link__disabled .ais-star-rating--star__empty:before {
  color: #C9C9C9
}


/* Price Ranges */
.ais-price-ranges--form {
  margin-top: 8px;
}
  .ais-price-ranges--currency {
    display: inline-block;
    margin-right: 4px;
  }

  .ais-price-ranges--input {
    display: inline-block;
    width: 50px;
    border-radius: 2px;
    border: solid 1px #ccc;
    font-weight: normal;
    font-size: 15px;
  }

  .ais-price-ranges--button {
    padding: 4px 7px;
    display: inline-block;
    margin: 0 0 0 6px;
  }

/* Toggle */
.ais-toggle--label {
  cursor: pointer;
}

/* RefinementList ShowMore */
.ais-show-more {
  font-weight: bold;
  opacity: .7;
  padding-left: 4px;
  position: relative;
  line-height: 25px;
  font-size: .9em;
}
.ais-show-more:hover,
.ais-show-more:focus {
  opacity: 1;
}
.ais-show-more:before {
  font-family: FontAwesome;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  display: inline-block;
  position: relative;
  content: '';
  margin: 0 5px 0 0;
}

.ais-show-more__inactive:before {
  content: "\f0fe";
}

.ais-show-more__active:before {
  content: "\f146";
}

/* Active filters */
.ais-current-refined-values {
  position: relative;
}
