{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">


		<div class="flex-ns mb3">

			<div>
				<h4 class="f4 b lh-title mb2 primary">Dirección</h4>
				<p>316 Av. Winston Churchill, Santo Domingo, República Dominicana</p>
			</div>

			<div>
				<h4 class="f4 b lh-title mb2 primary">Horario</h4>
				<p>Lunes – Viernes: 9AM – 5PM Sabados/Domingos Cerrado</p>
			</div>

		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ partial "footer" . }}
