{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/background-min.jpg" "title" "¡Busca tu Carro!" "subtitle" "Inicia aquí") }}

{{ partial "short-text" (dict "heading" "Vendes?" "text" "Autos Dominicanos es la nueva plataforma que te permite publicar tus vehículos y venderlos en tiempo record.")}}

{{ partial "2-up" (dict "heading" "Elije tu plan" "description" "Ofrecemos planes competivos para Particulares y Profesionales." "svg1" "img/illustrations/coffee.svg" "text1" "Publica la información de tu vehículo con 14 fotos por 30 días. RD$ 1,200" "svg2" "/img/illustrations/coffee-gear.svg" "text2" "Planes para profesionales (dealers) que les permiten administrar sus anuncios online y publicar de forma inmediata."  ) }}

{{ partial "footer" . }}
